html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-image: url('img/background-ingo.png'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center; /* Centra la imagen en el fondo */
    background-attachment: fixed; /* Hace que el fondo permanezca fijo */
    background-repeat: no-repeat; /* No repite la imagen de fondo */
    
}

@font-face {
    font-family: 'Tw Cen MT Condensed Extra Bold';
    src: url('fonts/impact.ttf') format('truetype');

    font-family: 'Interstate Mono';
    src: url('fonts/TCB_____.TTF') format('truetype');
}

/* Define la animación llamada rotate */
@keyframes rotate {
    0% {
        transform: rotate(-50deg); /* Comienza sin rotación */
    }
    100% {
        transform: rotate(360deg); /* Termina con 360 grados de rotación */
    }
}

.centered-logo{
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
    max-height: 100%; /* Ajusta la altura máxima de la imagen */
    
    /* Agrega estas líneas para establecer el tamaño específico */
    width: 3cm;
    height: 3cm;

    transform: translate(-50%, -50%);

    z-index: 2; /* El logo estará en la parte superior */

    /* Agrega la animación, ajusta la duración y el retraso según tus preferencias */
    animation: rotate 3.5s linear infinite, rotate-reset 3.5s linear infinite; /* 2s de rotación, se reinicia cada 20s */
}

/* Define una animación adicional para reiniciar la rotación */
@keyframes rotate-reset {
    to {
        transform: rotate(-50deg); /* Reinicia la rotación a 0 grados */
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    padding: 0 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    Background-color: transparent;
    z-index: 2;
}

.logo-mini{
    position: absolute;
    top: -5px;
    left: -5px;
    margin: 0;
    width: 2cm;
    height: 2cm;
    cursor: pointer;
}

.section1 {
    height: 100vh; /* 100% del viewport height */
    width: 100vw; /* 100% del viewport width */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #45D8F3;
    z-index: 5;
}

.section2 {
    height: 100vh;
    width: 100vw; /* 100% del viewport width */
    position: relative; /* Asegura que el position absolute del cornered-logo sea relativo a este contenedor */
    display: flex;
    align-items: left;
    justify-content: left;
    Background-color: transparent;
    border-bottom: 1px solid #ccc; /* Borde inferior para separar las secciones */
    z-index: 1;
}

.section2_p{
    color: #45D8F3;
    font-size: 58px; /* Tamaño de fuente deseado */
    font-family: 'Interstate Mono'; /* Establece la fuente */
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    margin-top: 100px;
    margin-left: 70px;
    padding: 10px; /* Añade un poco de espacio alrededor del párrafo si es necesario */
    transform: translateX(-200%);
    transition: transform 1s ease-out;
}

#section2_p.mostrar {
    transform: translateX(0);
}

.menu-cont {
    display: flex; /* Utilizando Flexbox para alinear elementos en una fila */
    justify-content: space-around;
    background-color: transparent;
    padding: 20px;
    position: relative;    
}

.menu-item {
    font-family: 'Interstate Mono';
    color: #45D8F3;
    font-size: 25px;
    transition: color 0.3s, text-decoration 0.3s;
    position: relative;
    text-decoration: none;   
}

.menu-item:hover {
    color: black;
    text-decoration: none;
}

.section3 {
    height: 100vh;
    width: 100vw; /* 100% del viewport width */
    position: relative; /* Asegura que el position absolute del cornered-logo sea relativo a este contenedor */
    display: flex;
    align-items: left;
    justify-content: left;
    z-index: 4;
    Background-color: transparent;
    border-bottom: 1px solid #ccc; /* Borde inferior para separar las secciones */
    background-image: url('img/on-stage-portrait.png'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* No repite la imagen de fondo */
}

.arrow-up-div {
    position: fixed;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.arrow-up-div-hidden {
    visibility: hidden;
    position: fixed;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.circle-div {
    position: fixed;
    bottom: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    left: 47%;
    transform: translateX(-50%);
    cursor: pointer;
}

.arrow-down-div {
    position: fixed;
    bottom: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.sq-div {
    position: fixed;
    bottom: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    left: 53%;
    transform: translateX(-50%);
    cursor: pointer;
}

.arrows{
    width: 0.5cm;
    height: 0.5cm;
    animation: pulsate 1.5s infinite alternate; /* Define la animación llamada pulsate */
}

@keyframes pulsate {
    to {
      transform: scale(1.6); /* Reduce el tamaño al final de la animación */
    }
}

.sp3-item {
    font-family: 'Interstate Mono';
    color: #45D8F3;
    font-size: 25px;
    transition: color 0.3s, text-decoration 0.3s;
    position: relative;
    text-decoration: none;
       
}

.sp3-item:hover {
    color: #dfc842;
    text-decoration: none;
}

.project_p{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    font-size: 28px; /* Tamaño de fuente deseado */
    font-family: 'Interstate Mono'; /* Establece la fuente */
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    margin-top: 20vh;
    margin-left: 0;
    max-width: 40vw;
    padding: 10px; /* Añade un poco de espacio alrededor del párrafo si es necesario */
    transform: translateX(-200%);
    transition: transform 1s ease-out;
}

#project_p.mostrar {
    transform: translateX(0);
}

.project_p2{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    font-size: 18px; /* Tamaño de fuente deseado */
    font-weight: 'lighter';
    font-family: 'Interstate Mono'; /* Establece la fuente */
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    margin-top: 40px;
    margin-left: 0;
    max-width: 30vw;
    padding: 10px; /* Añade un poco de espacio alrededor del párrafo si es necesario */
    transform: translateX(-200%);
    transition: transform 5s ease-out;
}

#project_p2.mostrar {
    transform: translateX(0);
}

.section4 {
    height: 100vh;
    width: 100vw; /* 100% del viewport width */
    position: relative; /* Asegura que el position absolute del cornered-logo sea relativo a este contenedor */
    display: flex;
    align-items: left;
    justify-content: left;
    z-index: 3;
    Background-color: transparent;
    border-bottom: 1px solid #ccc; /* Borde inferior para separar las secciones */
    background-image: url('img/chibistories-porttrait.png'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* No repite la imagen de fondo */
}

.section5 {
    height: 100vh;
    width: 100vw; /* 100% del viewport width */
    position: relative; /* Asegura que el position absolute del cornered-logo sea relativo a este contenedor */
    display: flex;
    align-items: left;
    justify-content: left;
    z-index: 3;
    Background-color: transparent;
    border-bottom: 1px solid #ccc; /* Borde inferior para separar las secciones */
    background-image: url('img/fanfest-porttrait.png'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* No repite la imagen de fondo */
}

.section6 {
    z-index: 3;
    height: 15cm;
    width: 100vw; /* 100% del viewport width */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Puedes cambiar este color de fondo */
    border-bottom: 1px solid #ccc; /* Borde inferior para separar las secciones */
}

.section7 {
    z-index: 3;
    height: 15cm;
    width: 100vw; /* 100% del viewport width */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240); /* Puedes cambiar este color de fondo */
    border-bottom: 1px solid #ccc; /* Borde inferior para separar las secciones */
}

@media screen and (max-width: 600px){/*960*/
    body {
     background-position: right; /* Centra la imagen en el fondo */}
    
    .arrow-up-div {
        visibility: hidden;
    } 

    .arrow-up-div-hidden {
        visibility: visible;
        position: fixed;
        margin-top: 94.1vh; /* Ajusta la distancia desde la parte superior según tus necesidades */
        left: 30%;
    }
 
    .circle-div {
        bottom: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
        left: 40%;
    }
    
    .arrow-down-div {
        bottom: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
        left: 50%;
    }
    
    .sq-div {
        bottom: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
        left: 60%;
    }
    
    .section2_p{
        position: absolute;
        margin: 0; /* Elimina el margen predeterminado del párrafo */
        margin-top: 100%;
        padding: 10px; /* Añade un poco de espacio alrededor del párrafo si es necesario */
        font-size: 22px; /* Tamaño de fuente deseado */
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
     }
    
    .section2{
    align-items: left;
    justify-content: left;
    height: 100vh;
    width: 100vw;
    }

    .menu-cont{
        display: flex;
        position: absolute; /* Utilizando Flexbox para alinear elementos en una fila */
        justify-content: space-around;
        background-color: transparent;
        margin-top: 125%;
    }

    .menu-item{
        font-size: 16px;
        padding: 10px;

    }

    .menu-item:hover {
        color: white;
        text-decoration: none;
    }

    .section3 {
        display: flex;
        align-items: left;
        justify-content: left;
        z-index: 1;
        background-image: url('img/on-stage-portrait-phone.png'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* Cubre toda la pantalla */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat; /* No repite la imagen de fondo */
    }

    .sp3-item {
        font-family: 'Interstate Mono';
        color: #45D8F3;
        font-size: 16px;
        transition: color 0.3s, text-decoration 0.3s;
        position: relative;
        text-decoration: none;     
    }

    .project_p{
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        font-size: 18px; /* Tamaño de fuente deseado */
        font-family: 'Interstate Mono'; /* Establece la fuente */
        margin: 5%; /* Elimina el margen predeterminado del párrafo */
        margin-top: 48vh;
        margin-left: 0;
        max-width: 95vw;
        padding: 10px; /* Añade un poco de espacio alrededor del párrafo si es necesario */
        transform: translateX(-200%);
        transition: transform 1s ease-out;
    }

    .project_p2{
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        font-size: 16px; /* Tamaño de fuente deseado */
        font-weight: 'lighter';
        font-family: 'Interstate Mono'; /* Establece la fuente */
        margin: 0; /* Elimina el margen predeterminado del párrafo */
        margin-bottom: 80%;
        margin-left: 0;
        max-width: 80vw;
        padding: 10px; /* Añade un poco de espacio alrededor del párrafo si es necesario */
        transform: translateX(-200%);
        transition: transform 5s ease-out;
    }

    .section4 {
        z-index: 0;
        display: flex;
        align-items: left;
        justify-content: left;
        background-image: url('img/chibistories-porttrait-phone.png'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* Cubre toda la pantalla */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat; /* No repite la imagen de fondo */
    }

    .section5 {
        z-index: 0;
        display: flex;
        align-items: left;
        justify-content: left;
        background-image: url('img/fanfest-porttrait-phone.png'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* Cubre toda la pantalla */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat; /* No repite la imagen de fondo */
    }
    
}


@media screen and (min-width: 601px) and (max-width: 1024px){

    body {
        background-position: right; /* Centra la imagen en el fondo */
    }

    .circle-div {
        bottom: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
        left: 40%;
    }
    
    .arrow-down-div {
        bottom: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
        left: 50%;
    }
    
    .sq-div {
        bottom: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
        left: 60%;
    }

    .section2{
        align-items: left;
        justify-content: left;
        height: 100vh;
        width: 100vw;
        
    }

    .section2_p{
        position: absolute;
        bottom: 40%;
        background-color: rgba(0, 0, 0, 0.5);
        margin-left: 0;
        font-size: 42px; /* Tamaño de fuente deseado */
        color: #ffffff;
    }

    .menu-cont{
        display: flex;
        position: absolute;
        bottom: 32%;
        justify-content: space-around;
        background-color: transparent;
    }

    .menu-item{
        font-size: 28px;
        padding: 10px;

    }

    .menu-item:hover {
        color: white;
        text-decoration: none;
    }

    .section3 {
        display: flex;
        align-items: left;
        justify-content: left;
        background-image: url('img/on-stage-portrait-phone.png'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* Cubre toda la pantalla */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat; /* No repite la imagen de fondo */
        border-bottom: 1px solid #ccc; /* Borde inferior para separar las secciones */
    }

    .section4 {
        display: flex;
        align-items: left;
        justify-content: left;
        background-image: url('img/chibistories-porttrait-phone.png'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* Cubre toda la pantalla */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat; /* No repite la imagen de fondo */
        border-bottom: 1px solid #ccc; /* Borde inferior para separar las secciones */
    }

    .section5 {
        height: 100vh;
        width: 100vw; /* 100% del viewport width */
        display: flex;
        align-items: left;
        justify-content: left;
        background-image: url('img/fanfest-porttrait-phone.png'); /* Ruta de tu imagen de fondo */
        
        
    }

    .sp3-item {
        font-family: 'Interstate Mono';
        color: #45D8F3;
        font-size: 16px;
        transition: color 0.3s, text-decoration 0.3s;
        position: relative;
        text-decoration: none;
           
    }

    .project_p{
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        font-size: 22px; /* Tamaño de fuente deseado */
        font-family: 'Interstate Mono'; /* Establece la fuente */
        margin: 5%; /* Elimina el margen predeterminado del párrafo */
        margin-top: 48vh;
        margin-left: 0;
        max-width: 70vw;
        padding: 10px; /* Añade un poco de espacio alrededor del párrafo si es necesario */
        transform: translateX(-200%);
        transition: transform 1s ease-out;
    }

    .project_p2{
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        font-size: 18px; /* Tamaño de fuente deseado */
        font-weight: 'lighter';
        font-family: 'Interstate Mono'; /* Establece la fuente */
        margin: 0; /* Elimina el margen predeterminado del párrafo */
        margin-bottom: 80%;
        margin-left: 0;
        max-width: 50vw;
        padding: 10px; /* Añade un poco de espacio alrededor del párrafo si es necesario */
        transform: translateX(-200%);
        transition: transform 5s ease-out;
    }
    
}

